<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{Admin/Layout}">


<head>
<title></title>


</head>
<body>
	<div layout:fragment="breadcrumb">

		<h1>Modifier une agence</h1>
		<br>
		
		
		<div class="panel panel-default">
		<div class="panel-heading">
		<form th:action="@{UpdateAgence}" method="post"
			th:object="${agence}">
			
			<div class="form-group">
				<label class="control-label">Code De l'Agence</label><br> <input
					type="text" th:field="*{codeAgence}" class="form-control" /> <span
					th:errors="*{codeAgence}"></span>
			</div>

			<div class="form-group">
				<label>Nom De l'Agence</label><br>
				<input type="text" class="form-control"
					th:field="*{nom}" /> <span th:errors="*{nom}"></span>


			</div>

			<div class="form-group">
				<label> Ville De
					l'Agence</label><br><input type="text"
					th:field="*{ville}" class="form-control" /> <span
					th:errors="*{ville}"></span>

			</div>
			<div class="form-group">
				<label>Adresse De l'Agence</label><br>
				<input type="text" th:field="*{Adresse}"
					class="form-control" /> <span th:errors="*{Adresse}"></span>

			</div>
			<div class="form-group">
				<br> <label>Contact De l'Agence</label><br> <input
					type="text" th:field="*{contact}" class="form-control" /> <span
					th:errors="*{codeAgence}"></span>

			</div>
			<div class="form-group">
				<br> <label>Email De
					l'Agence</label><br><input type="email"
					th:field="*{Email}" class="form-control" /> <span
					th:errors="*{Email}"></span>
</div>
			
			<div class="form-group">
				<br> <label></label><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="submit" class="btn btn-primary">Enregistrer</button>
			</div>
			
		</form>
		</div>
</div>
	</div>
	
<body>
</html>
