<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{Client/layoutClient}">

<head>
    <meta charset="UTF-8"/>
    <title>Home</title>
</head>
<body>
<div   layout:fragment= "content" style="background-image: url('client.jpg');background-size:100% 100%" >


	

<div   class="content-wrapper" style="background-image: url('client.jpg');background-size:100% 100%" >

</div>
	
</div>
</body>
</html>
