<!--/* Thymeleaf templating engine, Each token will be replaced by their respective titles in the resulting page. */-->
<html xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{Agent/LayoutAgent}">



<body>
	<div layout:fragment="breadcrumb">

		<h1>Nouveau Compte/Liste Des Comptes</h1>
		<br>
		<form class="form-inline" th:action="@{SaveCompte}" method="post"
			th:object="${compte}">
			<div class="form-group">
				<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;TYPE</label><br>&nbsp;&nbsp;&nbsp;

				<select class="form-control" th:field="*{type}">

					<option th:value="Compte_Courant" th:text="Compte_Courant"></option>
					<option th:value="Compte_Epargne" th:text="Compte_Epargne"></option>

				</select>

			</div>


			<div class="form-group">
				<label> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DATE_CREATION</label><br>&nbsp;&nbsp;&nbsp;
				<input type="date" th:field="*{dateCreation}" class="form-control" />
			</div>





			<div class="form-group">
				<br> <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CLIENTS</label><br>	&nbsp;&nbsp;&nbsp;
				<select  class="form-control" th:field="*{clients}"  MULTIPLE>

					<option th:each="c:${clients}" th:text="${c.getcin()}"
						th:value="${c.getcin()}"></option>

				</select>

			</div>
			
			<div class="form-group">
				<br> <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ACTIVE</label><br>
				&nbsp;&nbsp;&nbsp; <select class="form-control" th:field="*{active}">

					<option th:value="0">0</option>
					<option th:value="1">1</option>

				</select>




			</div>

			<div class="form-group">
				<br> <label>&nbsp;&nbsp;SOLDEMAX</label><br> <input
					type="number" th:field="*{soldMax}" class="form-control" />

			</div>
			<div class="form-group">
				<br> <label>&nbsp;&nbsp;DECOUVERT</label><br> <input
					type="number" th:field="*{decouvert}" class="form-control" />

			</div>
			<div class="form-group">
				<br> <label>&nbsp;&nbsp;TAUX</label><br> <input
					type="number" th:field="*{taux}" class="form-control" />

			</div>



			<div class="form-group">
				<br> <label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Action</label><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<button type="submit" class="btn btn-primary">Enregistrer</button>
			</div>
		</form>
	</div>


	<div layout:fragment="content">
		<h2>Liste Des Comptes</h2>


		<form th:action="@{comptes}" method="get">
			<div class="form-group">
				<label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mot Cle</label>
				&nbsp;&nbsp;&nbsp;<input type="text" name="codeC" />
				<button type="submit" class="btn btn-primary">Rechercher</button>
			</div>
		</form>

		<div class="row">


			<div class="col-xs-12">
				<div class="box box-primary">




					<!-- /.box-header -->
					<div class="box-body">




						<div class="table-responsive">
							<table class="table table-bordered table-hover">

								<thead>
									<tr>

										<th>CODE</th>
										<th>TYPE</th>
										<th>ACTIVE</th>
										<th>SOLD</th>
										<th>DATE_CREATION</th>
										<th>AGENT</th>
										<th>CLIENTS</th>
										<th>ACTION</th>


									</tr>
								</thead>
								<tbody>
									<tr th:each="c:${comptes}">
										<td  th:text="${c.getCodeCompte()}" />
										<td th:text="${c.getType()}" />
										<td th:text="${c.isActive()}" />
										<td th:text="${c.getSolde()}" />
										<td th:text="${c.getDateCreation()}" />
										<td th:text="${c.getAgent().getcin()}" />
										<td><span th:each="m:${c.clients}"> <span
												th:text="${m.getcin()}"> </span><br>
										</span></td>
										<td><a onclick="return confirm('Etes vous sure?')"
											th:href="@{comptes/supprimerCompte(code=${c.getCodeCompte()})}">Supprimer</a>
											<br> <a
											th:href="@{comptes/editercompte(code=${c.getCodeCompte()})}">Editer</a></td>


									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>